/* You can add global styles to this file, and also import other style files */

// PrimeNG Theme and Icons (Added back for clarity, resolved via project.json)
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css"; 
@import "primeicons/primeicons.css";

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
  font-feature-settings: "cv02","cv03","cv04","cv11";
  line-height: 1.2;
  
  &:root {
    --p-text-color: var(--p-surface-700);
  }
}

a {
  &:hover {
    color: var(--p-primary-600);
  }
}

